{% extends "layouts/base.html" %}

{% block title %} Dier Toevoegen {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.naam.label(class="form-control-label") }}
                {% if form.naam.errors %}
                {{ form.naam(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.naam.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.naam(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.soort.label(class="form-control-label") }}
                {% if form.soort.errors %}
                {{ form.soort(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.soort.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.soort(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.grootte.label(class="form-control-label") }}
                {% if form.grootte.errors %}
                {{ form.grootte(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.grootte.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.grootte(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}